




<ion-grid>






  <ion-row>
    <ion-col>
      <h2> Upcoming Events </h2>
      <p> Join us for fellowship, worship, and community activities. There's something for everyone! </p>
    </ion-col>
  </ion-row>


  <ion-row>

    
    <ion-col>
    </ion-col>


    <ion-col>
      <ion-card>

        <ion-card-header>
          <ion-card-title><ion-button>Featured Event</ion-button></ion-card-title>
        <ion-card-title>Easter Sunday Celebration</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-col>
          <p><ion-icon name="calendar-outline"></ion-icon>April 20, 2025</p>
          <p><ion-icon name="time-outline"></ion-icon>9:00 AM & 11:00 AM</p>
          <p><ion-icon name="location-outline"></ion-icon>Main Sanctuary</p>
          <p>Join us for a special Easter celebration with worship, a powerful message of hope, and activities for the whole family.</p>
        </ion-col>
      </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>







</ion-grid>