<ion-content>
  <ion-grid>

    <ion-row class="ion-margin ion-align-items-center ion-justify-content-center" style="background-color: #7e22ce; color: #ffffff;">
      <ion-col class="ion-text-center">
        <h2 style="font-size: 3.75rem; font-weight: bold; " > Upcoming Events </h2>
        <p style="font-size: 18px; line-height: 1.5;" > Join us for fellowship, worship, and community activities. There's something for everyone! </p>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col>
        <ion-img src="../../../assets/event1.jpeg" alt="events"></ion-img>
      </ion-col>

      <ion-col style="background-color: #7e22ce" >
        <ion-card style="background-color: #7e22ce;">
          <ion-card-content></ion-card-content>
          <ion-card-content></ion-card-content>
          <ion-card-content></ion-card-content>
          <ion-card-header>
            <ion-card-title><ion-button shape="round" color="warning" style="color: #ffffff;">Featured
                Event</ion-button></ion-card-title>
            <ion-card-title>Easter Sunday Celebration</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-col>
              <p><ion-icon name="calendar-outline"></ion-icon>April 20, 2025</p>
              <p><ion-icon name="time-outline"></ion-icon>9:00 AM & 11:00 AM</p>
              <p><ion-icon name="location-outline"></ion-icon>Main Sanctuary</p>
              <p>Join us for a special Easter celebration with worship, a powerful message of hope, and activities for
                the whole family.</p>
            </ion-col>
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>