
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button>ACK St James Koromosho</ion-button>
    </ion-buttons>

    <div class="ion-display-flex ion-align-items-center ion-justify-content-center">
      <ion-button shape="round" fill="clear" color="light">About</ion-button>
      <ion-button shape="round" fill="clear" color="light">Services</ion-button>
      <ion-button shape="round" fill="clear" color="light">Events</ion-button>
      <ion-button shape="round" fill="clear" color="light">Ministries</ion-button>
      <ion-button shape="round" fill="clear" color="light">Sermons</ion-button>
      <ion-button shape="round" fill="clear" color="light">Contact</ion-button>
    </div>

    <ion-buttons slot="end">
      <ion-button (click)="toggleTheme()"> <ion-icon [name]="isDark ? 'moon-outline' : 'sunny-outline'"></ion-icon>
      </ion-button>
      <ion-button shape="round" fill="outline">Give</ion-button>
      <ion-button shape="round" fill="solid">Plan your visit</ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>