
<ion-content>  

<ion-grid>
  <ion-toolbar></ion-toolbar>

  <ion-row >
    <ion-col class="ion-display-flex ion-align-items-center ion-justify-content-center">
      <h1 style="font-size: 60px; font-weight: bold;"> A Place to Belong </h1>
    </ion-col>
  </ion-row>

  <ion-row> 
    <ion-col class="ion-display-flex ion-align-items-center ion-justify-content-center">
      <p style="font-size: 20px; margin-top: 6px; ">
        Whether you're exploring faith for the first time or looking for a church home, <br/>
        you're welcome here. Join our community of believers as we grow together.
      </p>
    </ion-col>
  </ion-row>

  <ion-row>  
    <ion-col>
      <ion-buttons class="ion-align-items-center ion-justify-content-center" style="margin-top: 8; gap: 4px;" >
        <ion-button shape="round" fill="solid" style="--background: #581c87; --color: #ffffff;"> Plan Your Visit</ion-button>
        <ion-button shape="round" fill="outline" ><ion-icon name="caret-forward-outline"></ion-icon>Watch Online</ion-button>
      </ion-buttons>
    </ion-col>
  </ion-row>

  <ion-row class="ion-padding" >
      <ion-col size="12" class="ion-display-flex ion-align-items-center ion-justify-content-center">
        <h2 class="ion-padding" style="margin-bottom: 6px; font-size: 20px; " >Join Us This Week</h2>
      </ion-col>

      <ion-col class=" ion-align-items-center ion-justify-content-center" >
        <p>SUNDAY</p>
        <p style="margin-top: 1px;" >Sunday Worship</p>
        <p style="margin-top: 1px;">9:00 AM & 11:00 AM</p>
      </ion-col>

      <ion-col>
        <p>WEDNESDAY</p>
        <p>Wednesday Bible Study</p>
        <p>7:00 PM</p>
      </ion-col>

      <ion-col>
        <p>FRIDAY</p>
        <p>Youth Group</p>
        <p>6:30 PM</p>
      </ion-col>

  </ion-row>
</ion-grid>
</ion-content>





<!-- <section class="hero-section">

  <div class="overlay"></div>

  <div class="hero-content">
    <h1 class="title">A Place to Belong</h1>

    <p class="subtitle">
      Whether you're exploring faith for the first time or looking for a church home,
       you're welcome here. Join our community of believers as we grow together.
    </p>

    <div class="cta-buttons">
      <ion-button shape="round" size="large" class="primary-btn">
        Plan Your Visit
      </ion-button>

      <ion-button shape="round" size="large" fill="outline" class="outline-btn">
        Watch Online
      </ion-button>
    </div>

    <div class="schedule">
      <h3>Join Us This Week</h3>

      <div class="schedule-grid">

        <div class="day">
          <h4>SUNDAY</h4>
          <p class="event">Sunday Worship</p>
          <p class="time">9:00 AM & 11:00 AM</p>
        </div>

        <div class="day">
          <h4>WEDNESDAY</h4>
          <p class="event">Bible Study</p>
          <p class="time">7:00 PM</p>
        </div>

        <div class="day">
          <h4>FRIDAY</h4>
          <p class="event">Youth Group</p>
          <p class="time">6:30 PM</p>
        </div>

      </div>
    </div>
  </div>

</section> -->

