
<ion-content> 
<ion-grid class="ion-margin" >

  <ion-row>
    <ion-col>
      <h2>Service Times</h2>
      <p> We'd love to have you join us for worship. Here's when you can find us.</p>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin ion-text-center ion-align-items-center ion-justify-content-center">

    <ion-col size="12" sizeMd="4" >
      <ion-card >
        <ion-card-content></ion-card-content>
        <ion-button><ion-icon name="time"></ion-icon></ion-button>
        <ion-card-header>
          <ion-card-title>Sunday</ion-card-title>
          <ion-card-title>Sunday Worship</ion-card-title>
          <ion-card-title>9:00 AM & 11:00 AM</ion-card-title>
          <ion-card-content>Our main worship services with contemporary
             and traditional music, inspiring messages,
              and children's programs.</ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="4" >
      <ion-card>
        <ion-card-content></ion-card-content>
        <ion-button><ion-icon name="time"></ion-icon></ion-button>
        <ion-card-header>
          <ion-card-title>Sunday</ion-card-title>
          <ion-card-title>Sunday Worship</ion-card-title>
          <ion-card-title>9:00 AM & 11:00 AM</ion-card-title>
          <ion-card-content>Our main worship services with contemporary
             and traditional music, inspiring messages,
              and children's programs.</ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-col>

    <ion-col size="12" sizeMd="4" >
      <ion-card>
        <ion-card-content></ion-card-content>
        <ion-button><ion-icon name="time"></ion-icon></ion-button>
        <ion-card-header>
          <ion-card-title>Sunday</ion-card-title>
          <ion-card-title>Sunday Worship</ion-card-title>
          <ion-card-title>9:00 AM & 11:00 AM</ion-card-title>
          <ion-card-content>Our main worship services with contemporary
             and traditional music, inspiring messages,
              and children's programs.</ion-card-content>
        </ion-card-header>
      </ion-card>
    </ion-col>


  </ion-row>
</ion-grid>

</ion-content>